{% extends 'blog/__base.html' %}

{% block h1 %}About Me{% endblock h1 %}
{% block sub_title %}This is what I do. {% endblock sub_title %}

{% block content %}
    <article>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!
          </div>
        </div>
    </article>
{% endblock content %}