{% extends 'blog/__base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url('{{ post.main_img.url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.sub_title }}</h2>
              <span class="meta">Posted by
                <a href="#">Start Bootstrap</a>
                on {{ post.created_at|date:"F d, Y" }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block h1 %}{{ post.title }}{% endblock h1 %}

{% block content %}
    <article>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
                {{ post.text|safe }}
          </div>
        </div>
    </article>
{% endblock content %}