{% block content %}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
              <div class="post-preview">
                <a href="post/{{ post.id }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                    {% if post.sub_title %}
                        <h3 class="post-subtitle">
                            {{ post.sub_title }}
                        </h3>
                    {% endif %}

                </a>
                <p class="post-meta">Posted by
                  <a href="#">Start Bootstrap</a>
                  on {{ post.created_at|date:"F d, Y" }}</p>
              </div>
                <hr>
            {% endfor %}
                  <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    <hr>
{% endblock content %}